<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaxLabs.Passport.ClientKit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MaxLabs.Passport.ClientKit.Properties.Settings>
            <setting name="MaxLabs_Passport_ClientKit_PassportServerInterface_Service"
                serializeAs="String">
                <value>http://w.chinaz.com/api.asmx</value>
            </setting>
        </MaxLabs.Passport.ClientKit.Properties.Settings>
    </applicationSettings>
</configuration>