<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaxLabs.bbsMax.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MaxLabs.bbsMax.Properties.Settings>
            <setting name="MaxLabs_bbsMax_PassportServerInterface_Service"
                serializeAs="String">
                <value>http://p.chinaz.com/api.asmx</value>
            </setting>
            <setting name="MaxLabs_bbsMax_ThumbnailServerInterface_SnapWebImg"
                serializeAs="String">
                <value>http://siteimg.chinaz.com/SnapWebImg.asmx</value>
            </setting>
        </MaxLabs.bbsMax.Properties.Settings>
    </applicationSettings>
</configuration>