/*==========================================================
    BBSMAX Classic Theme for BBSMAX 5
==========================================================*/
/*= Section-members  =====================================*/
.section-members .content-main{float:right;width:100%;}
.section-members .content-main-inner{margin-left:130px;}
.section-members .content-sub{float:left;width:120px;margin-right:-120px;}

.section-members .content-sub .sidebar{background:#fff;border:1px solid #a2d0e5;overflow:hidden;}
.section-members .content-sub .sidebar .panel{margin:0;margin-top:-1px;}
.section-members .content-sub .sidebar .panel-head{height:2.5em;line-height:2.5em;background:#e3f3ff url(../images/highlight_1.gif) repeat-x;border:1px solid #cadcea;border-width:1px 0;}
.section-members .content-sub .sidebar .panel-title{padding:0 10px;}

.category-list{line-height:1.8;overflow:hidden;}
.category-list li{margin:-1px 0 0;border-top:1px solid #e3f3ff;zoom:1;}
.category-list a{display:block;padding:6px 10px;background:#f5fbff;}
.category-list a:link,.category-list a:visited{color:#333;}
.category-list a.current,.category-list a.current:link,.category-list a.current:visited,
.category-list a:hover,.category-list a:active{color:#06c;background:#fff;text-decoration:none;background:url(../images/current_arrow.gif) no-repeat 90% 50%;}

/*= Rankinglayout =*/
.rankinglayout .rankinglayout-content{float:left;width:100%;}
.rankinglayout .rankinglayout-content-inner{margin-right:160px;}
.rankinglayout .rankinglayout-sidebar{float:right;width:150px;margin-left:-150px;}

.rankinglayout-priceranking .rankinglayout-content-inner{margin-right:190px;}
.rankinglayout-priceranking .rankinglayout-sidebar{float:right;width:180px;margin-left:-180px;}

.rankinglayout-nosidebar .rankinglayout-content-inner{margin-right:0;}
.rankinglayout-nosidebar .rankinglayout-sidebar{display:none;}

.userstablepanel .panel-head{padding:6px 10px 6px 20px;color:#fff;height:1.4em;line-height:1.4em;background:#409bdd url(../images/theme/panel_blue.gif) repeat-x;}
.userstablepanel .panel-body{border:1px solid #a2d0e5;border-top:0;padding-bottom:5px;background:#f5fbff;}

.userstable{width:100%;}
.userstable td{padding:5px;border-bottom:1px solid #cadcea;}
.userstable .nodata{padding:50px 10px;color:#999;text-align:center;}
.userstable thead td{color:#666;padding:5px 3px 2px 3px;background:#eff8ff url(../images/theme/table_thead.gif) repeat-x;white-space:nowrap;}
.userstable thead td strong{color:#666;}
.userstable td.order{width:30px;}
.userstable td.roleicon{width:16px;}
.userstable td.userid{width:30px;}
.userstable td.bday{width:90px;}
.userstable td.date{width:90px;}
.userstable tbody td.userid{color:#666;}
.userstable tbody td.order{color:#666;}
.userstable td.avatar{width:54px;}
.userstable td.mediumavatar{width:28px;}
.userstable td.avatar a{float:left;width:48px;height:48px;}
.userstable td.mediumavatar a{float:left;width:24px;height:24px;}
.userstable td.user{line-height:1.6;vertical-align:top;}
.userstable tbody td.price{color:#f60;}
.userstable .remainprice .price{display:block;color:#f60;}
.userstable .rankinguser-name .realname{color:#666;}
.userstable .rankinguser-name img{vertical-align:middle;}
.userstable .rankinguser-action{ white-space:nowrap;}
.userstable .rankinguser-action a{padding-left:16px;}
.userstable .rankinguser-action a.addnewfriend{background:url(../images/icons/friend_add.gif) no-repeat 0 50%;}
.userstable .rankinguser-action a.chat-online{background:url(../images/icons/chat_online.gif) no-repeat 0 50%;}
.userstable .rankinguser-action a.chat-offline{background:url(../images/icons/chat_offline.gif) no-repeat 0 50%;}
.userstable .rankingtablerow-my td{background:#f2f7fb;}
.userstable .order .number{font:117% Georgia,Serif;}
.userstable .rankinguser-speak{color:#666;}
.userstable .rankinguser-action a:link,.userstable .rankinguser-action a:visited{color:#000;}
.userstable tr{background:#f5fbff url(../images/highlight_1.gif) repeat-x;}
.userstable tr:hover{background-color:#fff;}

/*= Joinrankingform =*/
.joinrankingform{border:1px solid #b2d7e9;background:#f5fbff;}
.joinrankingform .formgroup-title{padding:0 10px;height:2.5em;line-height:2.5em;background:#e3f3ff url(../images/highlight_1.gif) repeat-x;border-bottom:1px solid #cadcea;}
.joinrankingform .formgroup{padding:10px 10px 0;}
.joinrankingform .formrow{margin-bottom:10px;}
.joinrankingform .label,
.joinrankingform .form-enter{margin-bottom:5px;}
.joinrankingform .form-enter textarea,
.joinrankingform .form-enter .text{width:100%;}
.joinrankingform .form-enter textarea{-width:95%;}
.joinrankingform .form-enter .number{width:6em;}

.myfriends-dropdown .dropdownmenu-list{height:100px;overflow:auto;}

/*= Rankingheader =*/
.rankingheader{margin-bottom:10px;}
.rankingsearch{float:right;}
.rankingsearch a{padding-left:20px;background:url(../images/icons/search.gif) no-repeat 0 50%;}
.rankingheader .value{color:#f60;}

.myrankingorder{border:1px solid #b2d7e9;padding:10px;background:#f5fbff;}
.myrankingorder .rankingorder{margin-bottom:10px;}
.myrankingorder .rankingorder .value{font-size:2em;display:block;color:#f60;text-align:center;}
.myrankingorder .rankingvalue{margin-bottom:10px;}
.myrankingorder .rankingvalue .label{color:#666;margin-right:5px;}
.myrankingorder .rankingvalue .value{color:#000;}

/*= Ranking search form (inherit: common.css - .formgroup)=*/
.rankingsearchform{padding:10px;padding:15px 10px 5px;border:1px solid #b2d7e9;background:#e3f3ff url(../images/highlight_1.gif) repeat-x;}
.rankingsearchform .formrow{margin-bottom:10px;padding-left:120px;line-height:1.8;}
.rankingsearchform .formrow .label{float:left;display:inline;width:100px;margin-left:-120px;text-align:right;}
.rankingsearchform .formrow .form-enter{float:left;margin-right:10px;}
.rankingsearchform .formrow .form-enter label{margin-right:5px;}
.rankingsearchform .formrow .form-enter .number{width:4em;}
.rankingsearchform .formrow-action{line-height:25px;}

/*= Section-announcement ================================*/
.announcemententry .panel-head{padding:6px 10px 6px 20px;color:#fff;height:1.4em;line-height:1.4em;background:#409bdd url(../images/theme/panel_blue.gif) repeat-x;}
.announcemententry .panel-title{float:left;}
.announcemententry .panel-title .tip{font-style:normal;font-weight:normal;color:#fff;}
.announcemententry .panel-body{padding:10px 10px 0;border:1px solid #a2d0e5;border-top:0;}

.announcement-info{margin-bottom:10px;}
.announcement-info .label{margin-right:5px;}
.announcement-info .value{color:#999;}

.announcement-content{font-size:117%;}
