/*==========================================================
    BBSMAX Classic Theme for BBSMAX 5
==========================================================*/
.searchform .panel-head{padding:6px 10px 6px 20px;color:#fff;height:1.4em;line-height:1.4em;background:#409bdd url(../images/theme/panel_blue.gif) repeat-x;}
.searchform .panel-body{border:1px solid #a2d0e5;border-top:0;background:#f2f7fb;}

.searchform-normal{padding:20px 20px 20px 100px;}
.searchform-normal .searchform-enter{float:left;}
.searchform-normal .searchform-enter input.searchform-input{float:left;margin-right:5px;width:260px;height:18px;}
.searchform-normal .searchform-enter .searchform-select{float:left;margin-right:5px;width:80px;height:24px;}
.searchform-normal .searchform-submit{float:left;}
.searchform-normal .searchform-toggle{float:left;line-height:25px;}
.searchform-normal .searchform-tip{float:left;clear:both;margin-top:10px;color:#999;width:100%;}

.searchform-advance{margin-bottom:0;}
.searchform-advance .formrow{padding:10px 20px 10px 180px;border-top:1px solid #cadcea;}
.searchform-advance .formrow .label{float:left;display:inline;margin-left:-80px;width:70px;}
.searchform-advance .formrow .forumselect{width:260px;height:150px;}

.searchresult .panel-head{padding:6px 10px 6px 20px;color:#fff;height:1.4em;line-height:1.4em;background:#409bdd url(../images/theme/panel_blue.gif) repeat-x;}
.searchresult .panel-title .count{color:#fc0;}
.searchresult .panel-body{border:1px solid #a2d0e5;border-top:0;padding-bottom:5px;background:#f5fbff;}

.searchresult .searchresult-table{width:100%;table-layout:fixed;}
.searchresult-table td{padding:5px;border-bottom:1px solid #cadcea;}
.searchresult-table thead td{color:#666;padding:5px 3px 2px 3px;background:#eff8ff url(../images/theme/table_thead.gif) repeat-x;white-space:nowrap;}
.searchresult-table thead a:link,.searchresult-table thead a:visited{color:#999;}
.searchresult-table td.icon{width:25px;}
.searchresult-table td.title{width:50%;}
.searchresult-table td.title .title-wrap{word-wrap:break-word;overflow:hidden;}
.searchresult-table td.author,
.searchresult-table td.cate,
.searchresult-table td.last{width:120px;white-space:nowrap;}
.searchresult-table td.author a,
.searchresult-table td.last a{display:block;}
.searchresult-table td.stats{width:80px;color:#666;text-align:right;white-space:nowrap;}
.searchresult-table tbody tr{background:#f5fbff url(../images/highlight_1.gif) repeat-x;}
.searchresult-table tbody tr:hover{background-color:#fff;}

.search-loader{padding:20px;color:#999;text-align:center;}
.search-loader span{padding:5px 0 5px 20px;background:url(../images/ajaxloading.gif) no-repeat 0 50%;}
