<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Max.Installs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Max.Installs.Properties.Settings>
            <setting name="Max_Installs_VersionService_Service1" serializeAs="String">
                <value>http://update.bbsmax.com/Service.asmx</value>
            </setting>
        </Max.Installs.Properties.Settings>
    </applicationSettings>
</configuration>