<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add connectionString="Server=.;DataBase=bbsmax;User ID=sa;Password=kissbbsmax;Connect Timeout=6;" name="bbsmax" providerName="MaxLabs.bbsMax.DataAccess.SqlServer.DataProvider, MaxLabs.bbsMax.DataAccess.SqlServer" />
	</connectionStrings>

	<appSettings>
		<add key="bbsMax.InstallPath" value="~/"/>
		<add key="bbsMax.DynamicCompress" value="ON" />
		<!-- 是否启用动态内容压缩，如果启用后出错请把value改为OFF -->
		<add key="bbsMax.StaticCompress" value="OFF" />
		<!-- 是否启用静态内容压缩，如果启用后出错请把value改为OFF -->
		<add key="bbsMax.Licence" value="uj1wkrX6oSrhMmo2zijOBp/mbyvhUMgoFCZ/tRaiXqQ=" />
	</appSettings>
</configuration>