<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="MaxLabs.bbsMax.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <system.web>
		<compilation defaultLanguage="c#" debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
			<buildProviders>
				<remove extension=".aspx"/>
				<remove extension=".html"/>
				<add extension=".aspx" type="System.Web.Compilation.PageBuildProvider"/>
				<add extension=".html" type="System.Web.Compilation.PageBuildProvider"/>
			</buildProviders>
		</compilation>
		<authentication mode="None"/>
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="utf-8"/>
		<httpHandlers>
			<remove path="*.aspx" verb="*"/>
			<remove path="*.html" verb="*"/>
			<add path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" validate="true"/>
			<add path="*.html" verb="*" type="System.Web.UI.PageHandlerFactory" validate="true"/>
		</httpHandlers>
   <pages enableSessionState="true" enableViewState="true" validateRequest="false" enableViewStateMac="false">
     <namespaces>
       <clear/>
       <add namespace="System"/>
       <add namespace="System.Collections"/>
       <add namespace="System.Collections.Specialized"/>
       <add namespace="System.Configuration"/>
       <add namespace="System.Text"/>
       <add namespace="System.Text.RegularExpressions"/>
       <add namespace="System.Web"/>
       <add namespace="System.Web.Caching"/>
       <add namespace="System.Web.SessionState"/>
       <add namespace="System.Web.Security"/>
       <add namespace="System.Web.UI"/>
       <add namespace="System.Web.UI.WebControls"/>
       <add namespace="System.Web.UI.HtmlControls"/>

       <add namespace="System.IO"/>
       <add namespace="System.Drawing"/>
       <add namespace="System.Drawing.Text"/>
       <add namespace="System.Drawing.Imaging"/>

       <add namespace="MaxLabs.bbsMax"/>
       <add namespace="MaxLabs.bbsMax.Common"/>
       <add namespace="MaxLabs.bbsMax.Errors"/>
       <add namespace="MaxLabs.bbsMax.Enums"/>
       <add namespace="MaxLabs.bbsMax.Entities"/>
       <add namespace="MaxLabs.bbsMax.DataAccess"/>
       <add namespace="MaxLabs.bbsMax.Extensions"/>
       <add namespace="MaxLabs.bbsMax.Extensions.Actions"/>
       <add namespace="MaxLabs.bbsMax.Settings"/>
       <add namespace="MaxLabs.bbsMax.Email"/>
       <add namespace="MaxLabs.bbsMax.ValidateCodes"/>

       <add namespace="MaxLabs.WebEngine"/>
       <add namespace="MaxLabs.WebEngine.Plugin"/>
       <add namespace="MaxLabs.WebEngine.Template"/>
     </namespaces>
   </pages>
		<customErrors mode="Off"/>
        <webServices>
            <protocols>
                <add name="HttpSoap"/>
                <add name="HttpPost"/>
                <add name="HttpGet"/>
                <add name="Documentation"/>
            </protocols>
        </webServices>
	</system.web>
	<!--For IIS7-->
	<system.webServer>
		<defaultDocument>
			<files>
				<clear/>
				<add value="default.aspx"/>
				<add value="index.aspx"/>
			</files>
		</defaultDocument>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
      <!--remove name="WebServiceHandlerFactory-Integrated"/-->
			<!--Integrated-->
			<remove name="PageHandlerFactory-Integrated"/>
			<remove name="HTML-PageHandlerFactory-Integrated"/>
			<add name="PageHandlerFactory-Integrated" path="*.aspx" verb="GET,POST" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" preCondition="integratedMode"/>
			<add name="HTML-PageHandlerFactory-Integrated" path="*.html" verb="GET,POST" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" preCondition="integratedMode"/>
			<!--ISAPI(32bit)-->
			<remove name="PageHandlerFactory-ISAPI-2.0"/>
			<remove name="HTML-PageHandlerFactory-ISAPI-2.0"/>
			<add name="PageHandlerFactory-ISAPI-2.0" path="*.aspx" verb="GET,POST" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
			<add name="HTML-PageHandlerFactory-ISAPI-2.0" path="*.html" verb="GET,POST" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32"/>
			<!--ISAPI(64bit)-->
			<remove name="PageHandlerFactory-ISAPI-2.0-64"/>
			<remove name="HTML-PageHandlerFactory-ISAPI-2.0-64"/>
			<add name="PageHandlerFactory-ISAPI-2.0-64" path="*.aspx" verb="GET,POST" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64"/>
			<add name="HTML-PageHandlerFactory-ISAPI-2.0-64" path="*.html" verb="GET,POST" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64"/>
		</handlers>
		<!--GZIP-->
		<urlCompression doStaticCompression="false" doDynamicCompression="false"/>
	</system.webServer>
</configuration>
