<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MaxLabs.bbsMax.InstallPath" value="~/"/>
    <add key="MaxLabs.bbsMax.DataAccess.DefaultConnection" value="bbsmax"/>
    <add key="MaxLabs.bbsMax.ConnectionString" value="Data Source=localhost;Initial Catalog=bbsmax;User ID=sa;Password=kissbbsmax;"/>
    <add key="MaxLabs.bbsMax.DataProvider" value="MaxLabs.bbsMax.DataAccess.SqlServer.DataProvider, MaxLabs.bbsMax.DataAccess.SqlServer"/>
  </appSettings>
  <connectionStrings>
    <add name="bbsmax" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=bbsmax;User ID=sa;Password=kissbbsmax;"/>
  </connectionStrings>
</configuration>