<?xml version="1.0" encoding="gb2312"?>
<Language>
  <GlobalName>Simplified Chinese</GlobalName>
  <Name>Simplified Chinese</Name>
  <RequestEncoding>gb2312</RequestEncoding>
  <ResponseEncoding>gb2312</ResponseEncoding>
  <FileVersion>2.00</FileVersion>
  <LastUpdate>2009-11-29</LastUpdate>
  <Author>maxlab</Author>
  <HomePage>http://www.bbsMax.com</HomePage>
  <text key="welcome">欢迎使用 bbsMax</text>
  <text key="sys.title">$GlobalSetting.SiteName $GlobalSetting.TitleAddWord</text>
  <text key="sys.guest">游客</text>
  <text key="sys.defaulttheme">- 默认主题 -</text>
  <text key="sys.defaultlanguage">- 默认语言 -</text>
  <text key="sys.submit">提交</text>
  <text key="sys.reset">重置</text>
  <text key="sys.Enabled">启用</text>
  <text key="sys.Disabled">禁用</text>
  <text key="sys.validatecode">验证码</text>
  <text key="sys.question_0">--请选择提示问题--</text>
  <text key="sys.question_1">你爷爷叫什么</text>
  <text key="sys.question_2">你爸爸的生日是哪天</text>
  <text key="sys.question_3">你初中班主任叫什么</text>
  <text key="sys.question_4">你初恋情人叫什么</text>
  <text key="sys.question_5">你第一只宠物叫什么</text>
  <text key="sys.question_6">你妈妈的生日是哪天</text>
  <text key="sys.question_7">你第一只手机是什么品牌</text>
  <text key="userarea.signin">登录</text>
  <text key="userarea.signin_title">登录到论坛</text>
  <text key="userarea.createuser">注册</text>
  <text key="userarea.createuser_title">创建一个新用户</text>
  <text key="userarea.help">帮助</text>
  <text key="userarea.help_title">帮助您解决常见问题</text>
  <text key="userarea.member">会员</text>
  <text key="userarea.member_title">查看用户列表</text>
  <text key="userarea.search">搜索</text>
  <text key="userarea.search_title">搜索论坛帖子</text>
  <text key="profile.QQ">QQ</text>
  <text key="profile.WinLive">Windows Live</text>
  <text key="profile.WangWang">旺旺</text>
  <text key="profile.AliPay">支付宝</text>
  <text key="profile.HomePage">个人主页</text>
  <text key="profile.Blog">Blog</text>
  <text key="profile.Location">联系地址</text>
  <text key="profile.Gender_notset">保密</text>
  <text key="profile.Gender_male">男</text>
  <text key="profile.Gender_female">女</text>
  <text key="profile.Atom_z1">白羊座</text>
  <text key="profile.Atom_z2">金牛座</text>
  <text key="profile.Atom_z3">双子座</text>
  <text key="profile.Atom_z4">巨蟹座</text>
  <text key="profile.Atom_z5">狮子座</text>
  <text key="profile.Atom_z6">处女座</text>
  <text key="profile.Atom_z7">天平座</text>
  <text key="profile.Atom_z8">天蝎座</text>
  <text key="profile.Atom_z9">射手座</text>
  <text key="profile.Atom_z10">魔蝎座</text>
  <text key="profile.Atom_z11">水瓶座</text>
  <text key="profile.Atom_z12">双鱼座</text>
  <text key="SignOutStatus.Success">注销成功</text>
  <text key="AddUsersToRolesSatus.UnknownError">设置指定用户的用户组时,发生未知错误。您可以到官方网站寻求技术支持！</text>
  <text key="AddUsersToRolesSatus.Success">成功设置指定用户的用户组</text>
  <text key="AddUsersToRolesSatus.NotExistsRoles">不存在选定的用户组</text>
  <text key="AddUsersToRolesSatus.NotExistsUsers">不存在指定名称的用户</text>
  <text key="sys.SystemError">系统发生错误，错误已被记录。您可以刷新重试或联系网站管理员。</text>
  <text key="UnknownError">有意外错误发生！您可以联系网站管理员。</text>
  <text key="CreateUpdateAnnouncementStatus.UnknownError">提交公告时,发生未知错误。您可以到官方网站寻求技术支持！</text>
  <text key="CreateUpdateAnnouncementStatus.Success">提交公告成功</text>
  <text key="CreateUpdateAnnouncementStatus.InvalidPostUserName">无法识别您的身份，您可能需要重新登陆！</text>
  <text key="CreateUpdateAnnouncementStatus.InvalidSubject">公告标题不能为空</text>
  <text key="CreateUpdateAnnouncementStatus.InvalidSubjectLength">公告标题的长度不能超过200</text>
  <text key="CreateUpdateAnnouncementStatus.InvalidContent">公告内容不能为空</text>
  <text key="CreateUpdateExtendedPointStatus.UnknownError">提交扩展积分时,发生未知错误。您可以到官方网站寻求技术支持！</text>
  <text key="CreateUpdateExtendedPointStatus.Success">提交扩展积分成功</text>
  <text key="CreateUpdateExtendedPointStatus.InvalidPointID">系统无法识别该扩展积分的ID</text>
  <text key="CreateUpdateExtendedPointStatus.InvalidPointName">扩展积分名称不能为空</text>
  <text key="CreateUpdateExtendedPointStatus.InvalidPointNameLength">扩展积分名称长度不能超过64</text>
  <text key="CreateUpdateExtendedPointStatus.InvalidPointUnit">扩展积分的单位名称不能为空</text>
  <text key="CreateUpdateExtendedPointStatus.InvalidPointUnitLength">扩展积分的单位名称长度不能超过64</text>
  <!-- 待添加用户交易额及现有余额具体数值 -->
  <text key="CreateUpdateExtendedPointStatus.BalanceMin">交易额超过了您的现有余额</text>
  <text key="CreateUpdateExtendedPointStatus.RatioError">积分兑换时,找不到交易对象</text>
  <!-- 待添加具体的积分数值界限-->
  <text key="CreateUpdateExtendedPointStatus.Over">超出积分数值的界限</text>
  <text key="CreateUpdateExtendedPointStatus.NoExist">找不到要进行交易的用户</text>
  <text key="CreateUpdateExtendedPointStatus.DuliPointName">相同的货币间不能进行转换</text>
  <text key="CreateUpdateExtendedPointStatus.IsZero">不能为0或者输入有误</text>
  <text key="CreateUpdateExtendedPointStatus.IsSelf">不能给自己转帐</text>
  <text key="CreateUpdateExtendedPointStatus.NotAllowExport">不允许兑出</text>
  <text key="CreateUpdateExtendedPointStatus.NotAllowImprot">不允许兑入</text>
  <text key="CreateUpdateExtendedPointStatus.PointIsNotEnable">积分政策没有被启用</text>
  <text key="CreateUpdateExtendedPointStatus.SetSystemMaxMinError">积分设置的最大值与最小值不能相等</text>
  <text key="CreateUpdatePointLevelStatus.UnknownError">提交积分等级时,发生未知错误。您可以到官方网站寻求技术支持！</text>
  <text key="CreateUpdatePointLevelStatus.Success">提交积分等级成功</text>
  <text key="CreateUpdatePointLevelStatus.InvalidPointLevelID">不存在该ID的积分等级</text>
  <text key="CreateUpdatePointLevelStatus.InvalidLevelNameLength">积分等级名称长度不能超过64</text>
  <text key="CreateUpdatePointLevelStatus.InvalidLevelName">积分等级的名称不能为空</text>
  <text key="CreateUpdatePointLevelStatus.DuplicateRequirePoint">已经存在该积分的等级</text>
  <text key="CreateUpdatePointLevelStatus.InvalidLogoUrl">积分等级的图标地址无效</text>
  <text key="CreateUpdatePointLevelStatus.InvalidLogoUrlLength">积分等级的图标地址长度不能超过512</text>
  <text key="CreateUpdatePointLevelStatus.DuplicateLogoUrl">该积分等级的图标地址已经被使用</text>
  <text key="CreateUpdatePointLevelStatus.DuplicateStar">已经存在该星星数的积分等级</text>
  <text key="CreateUpdatePointLevelStatus.DuplicateRequireRoleID">需要该用户组的积分等级已经存在</text>
  <text key="CreateUpdatePointLevelStatus.ExistsMappedRole">积分等级的“需要用户组”模式的用户组不能与“需要积分”模式映射的用户组一样</text>
  <text key="CreateUpdatePosterLevelStatus.UnknownError">提交发帖等级时,发生未知错误。您可以到官方网站寻求技术支持！</text>
  <text key="CreateUpdatePosterLevelStatus.Success">提交发帖等级成功</text>
  <text key="CreateUpdatePosterLevelStatus.InvalidPosterLevelID">不存在该ID的发帖等级</text>
  <text key="CreateUpdatePosterLevelStatus.InvalidLevelNameLength">发帖等级名称的长度不能超过64</text>
  <text key="CreateUpdatePosterLevelStatus.InvalidLevelName">发帖等级的名称不能为空</text>
  <text key="CreateUpdatePosterLevelStatus.DuplicateRequirePosts">需要该发帖数的发帖等级已经存在</text>
  <text key="CreateUpdatePosterLevelStatus.DuplicateStar">已经存在该星星数的发帖等级</text>
  <text key="CreateUpdatePostMarkStatus.Success">提交评分成功</text>
  <text key="CreateUpdatePostMarkStatus.UnKnownError">提交评分时,发生未知错误。您可以重试或联系网站管理员！</text>
  <text key="CreateUpdateForumStatus.UnknownError">提交版块时,发生未知错误。您可以到官方网站寻求技术支持！</text>
  <text key="CreateUpdateForumStatus.Success">提交版块成功</text>
  <text key="CreateUpdateForumStatus.InvalidCodeName">无效的版块内部名称:不能为空,不能包含中文,能包含特殊字符</text>
  <text key="CreateUpdateForumStatus.DuplicateCodeName">该版块内部名称已经存在</text>
  <text key="CreateUpdateForumStatus.InvalidCodeNameLength">版块内部名称长度不能超过128</text>
  <text key="CreateUpdateForumStatus.InvalidForumName">版块名称不能为空</text>
  <text key="CreateUpdateForumStatus.InvalidForumNameLength">版块名称长度不能超过1024</text>
  <text key="CreateUpdateForumStatus.InvalidDescription">版块的说明简介内容不符合要求</text>
  <text key="CreateUpdateForumStatus.InvalidLogoUrl">版块的图片地址不能为空</text>
  <text key="CreateUpdateForumStatus.InvalidLogoUrlLength">版块图片地址的长度不能超过256</text>
  <text key="CreateUpdateForumStatus.InvalidThemeID">不存在该ID的风格主题</text>
  <text key="CreateUpdateForumStatus.InvalidThemeIDLength">风格主题ID长度不能超过64</text>
  <text key="CreateUpdateForumStatus.InvalidPassword">版块密码不能为空</text>
  <text key="CreateUpdateForumStatus.InvalidPasswordLength">版块密码的长度不能超过64</text>
  <text key="CreateUpdateForumStatus.ParentIDIsNotSelf">父论坛不能为该论坛本身</text>
  <text key="CreateUpdateForumStatus.NotExists">不存在该ID的论坛版块</text>
  <!-- 似乎并没有任何地方显示 -->
  <text key="CreateUpdateForumStatus.ExistsNnusualForum">出现异常的版块</text>
  <text key="ForumStatus.Normal">正常的论坛版块</text>
  <text key="ForumStatus.ReadOnly">只读版块,不能进行操作</text>
  <text key="ForumStatus.Closed">已关闭的论坛</text>
  <text key="ForumStatus.Deleted">已被删除的论坛</text>
  <text key="ForumStatus.JoinTo">进行合并的版块</text>
  <text key="ForumStatus.Joined">作为合并的目标版块</text>
  <text key="ThreadCatalogStatus.EnableAndMust">强制启用主题分类！</text>
  <text key="ThreadCatalogStatus.Enable">启用主题分类</text>
  <text key="ThreadCatalogStatus.DisEnable">不启用主题分类</text>
  <!-- **********************-->
  <text key="ForumActionStatus.Error">进行版块操作时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="ForumActionStatus.NotForumAction">没有进行任何版块操作</text>
  <text key="ForumActionStatus.Deleting">版块删除中</text>
  <text key="ForumActionStatus.Deleted">版块已删除</text>
  <text key="ForumActionStatus.Joining">版块合并中</text>
  <text key="ForumActionStatus.Joined">版块已合并</text>
  <text key="ForumActionStatus.CancelAction">版块操作取消</text>
  <text key="ForumActionStatus.ErrorWithExistsNnusualForum">出现异常的版块</text>
  <text key="UpdateForumsDataStatus.Error">更新版块数据时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="UpdateForumsDataStatus.NoAction">没有进行版块更新操作</text>
  <text key="UpdateForumsDataStatus.Updating">版块更新中</text>
  <text key="UpdateForumsDataStatus.Updated">版块已更新</text>
  <text key="CreateUpdateKeywordStatus.UnknownError">提交关键字时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateKeywordStatus.Success">提交关键字成功</text>
  <text key="CreateUpdateKeywordStatus.KeywordIsExist">该关键字已经存在</text>
  <text key="CreateUpdateLinkStatus.UnknownError">提交链接时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateLinkStatus.Success">提交链接成功</text>
  <text key="CreateUpdateLinkStatus.InvalidLinkName">链接名称不能为空</text>
  <text key="CreateUpdateLinkStatus.InvalidLinkNameLength">链接名称的长度不在限定之内</text>
  <text key="CreateUpdateLinkStatus.InvalidUrl">链接地址不能为空</text>
  <text key="CreateUpdateLinkStatus.InvalidUrlLength">链接地址的长度不在限定之内</text>
  <text key="CreateUpdateLinkStatus.InvalidLogoUrl">链接的图片地址不能为空</text>
  <text key="CreateUpdateLinkStatus.InvalidLogoUrlLength">链接的图片地址的长度不在限定之内</text>
  <text key="CreateUpdateModeratorsStatus.UnknownError">设置版主时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateModeratorsStatus.Success">设置版主成功</text>
  <text key="CreateUpdateModeratorsStatus.DuplicateUserID">该用户已经是该版块的版主</text>
  <text key="DisplayStatus.Yes">显示</text>
  <text key="DisplayStatus.No">不显示</text>
  <text key="DisplayStatus.Default">默认</text>
  <text key="PolemizeStatus.UnknownError">提交观点时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="PolemizeStatus.Success">提交观点成功</text>
  <text key="PolemizeStatus.ExpiresPolemize">本辩论已经超过截止日期</text>
  <text key="PolemizeStatus.NoPermissionPolemize">您没有权限参与辩论</text>
  <text key="PolemizeStatus.IsShielded">您在本版块已经被屏蔽</text>
  <text key="PolemizeStatus.HaveAgreeViewPoint">你已经支持过正方观点,不能再支持其它方观点</text>
  <text key="PolemizeStatus.HaveAgainstViewPoint">你已经支持过反方观点,不能再支持其它方观点</text>
  <text key="PolemizeStatus.HaveNeutralViewPoint">你已经保持中立,不能再支持其它方观点</text>
  <text key="PolemizeStatus.NotPolemize">该主题不是辩论帖,无法发表观点</text>
  <text key="VoteStatus.UnknownError">提交投票时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="VoteStatus.Success">投票成功</text>
  <text key="VoteStatus.HaveVoted">您已经投过票，不能重复投票</text>
  <text key="VoteStatus.ExpiresPoll">已经超过投票截止时间</text>
  <text key="VoteStatus.NoPermissionVote">您没有投票的权限</text>
  <text key="VoteStatus.HaveLocked">该投票主题已经被锁定</text>
  <text key="CreateUpdatePostStatus.UnknownError">提交帖子时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdatePostStatus.Success">提交帖子成功</text>
  <text key="CreateUpdatePostStatus.SuccessButUnapproved">文章已经提交，请耐心等待管理员审核</text>
  <text key="CreateUpdatePostStatus.InvalidSubject">标题不能为空</text>
  <text key="CreateUpdatePostStatus.InvalidSubjectLength">标题的长度不在限定之内</text>
  <text key="CreateUpdatePostStatus.InvalidContent">内容不能为空</text>
  <text key="CreateUpdatePostStatus.InvalidContentLength">内容的长度不在限定之内</text>
  <text key="CreateUpdatePostStatus.InvalidThreadCatalog">无效的主题分类</text>
  <text key="CreateUpdatePostStatus.InvalidPollItemCount">投票的选项数不在限定范围内</text>
  <text key="CreateUpdatePostStatus.ThreadNotExists">该主题不存在,或可能已经被删除</text>
  <text key="CreateUpdatePostStatus.ThreadLocked">该主题已经被锁定</text>
  <text key="CreateUpdatePostStatus.ThreadRecycled">该主题已经被移到回收站中</text>
  <text key="CreateUpdatePostStatus.ThreadUnapproved">该主题未通过审核</text>
  <text key="CreateUpdatePostStatus.SubjectRejected">被禁止发表的主题</text>
  <text key="CreateUpdatePostStatus.ContentRejected">被禁止发表的内容</text>
  <text key="CreateUpdatePostStatus.ForbiddenKeyWord">该主题含有被禁止的关键字</text>
  <text key="CreateUpdatePostStatus.NotEnoughReword">您的积分不够,不能发表悬赏贴</text>
  <text key="CreateUpdatePostStatus.OverMaxPoint">发表主题成功！但用户积分由于已经是最大值,没有增加</text>
  <text key="CreateUpdatePostStatus.OverMinPoint">您的积分不足以发布此类型主题</text>
  <text key="CreateUpdatePostStatus.IsShielded">您已经被屏蔽,不能进行帖子操作,若有疑问,可以联系相关管理员！</text>
  <text key="CreateUpdatePostStatus.NoPermissionCreateThread">对不起,您没有权限创建主题</text>
  <text key="CreateUpdatePostStatus.NoPermissionCreatePoll">对不起,您没有权限创建投票主题</text>
  <text key="CreateUpdatePostStatus.NoPermissionCreatePolemize">对不起,您没有权限创建辩论主题</text>
  <text key="CreateUpdatePostStatus.NoPermissionCreateQuestion">对不起,您没有权限创建问答主题</text>
  <text key="CreateUpdatePostStatus.NoPermissionCreateTrade">对不起,您没有权限创建交易帖</text>
  <text key="CreateUpdatePostStatus.NoPermissionUpdateOwnThread">对不起,您没有权限修改自己的主题</text>
  <text key="CreateUpdatePostStatus.NoPermissionUpdateAnyThread">对不起,您没有权限修改主题</text>
  <text key="CreateUpdatePostStatus.CreateThreadQuickly">您发表主题的时间间隔太短,请稍微休息一下再试</text>
  <text key="CreateUpdatePostStatus.NoPermissionReplyThread">您没有权限回复主题</text>
  <text key="CreateUpdatePostStatus.NoPermissionPolemize">您没有权限发起辩论</text>
  <text key="CreateUpdatePostStatus.CreatePostQuickly">您发表回复的时间间隔太短,请稍微休息一下再试</text>
  <text key="CreateUpdatePostStatus.ExpiresPost">该主题已经超过允许回复的时间期限</text>
  <text key="CreateUpdatePostStatus.NoPermissionUpdateOwnPost">您没有权限修改自己的主题</text>
  <text key="CreateUpdatePostStatus.NoPermissionUpdateAnyPost">您没有权限修改主题</text>
  <text key="CreateUpdatePostStatus.NoPermissionApprovedThread">您没有权限审核帖子</text>
  <text key="CreateUpdatePostStatus.NoPermissionUpdateAnyUnapprovedThread">您没有权限修改未经审核的帖子</text>
  <text key="CreateUpdatePostStatus.NoPermissionUpdateOwnUnapprovedThread">您没有权限修改自己的未经审核的帖子</text>
  <text key="CreateUpdatePostStatus.NoPermissionDeleteAnyUnapprovedThread">您没有权限删除未经审核的帖子</text>
  <text key="CreateUpdatePostStatus.NoPermissionApprovedAnyPost">您没有权限审核回复</text>
  <text key="CreateUpdatePostStatus.NotAllowAttachment">在当前版块您没权限发附件</text>
  <text key="CreateUpdatePostStatus.NotAllowAttachmentFileType">在当前版块您不允许上传该附件类型</text>
  <text key="CreateUpdatePostStatus.OverAttachmentMaxSingleFileSize">超过当前版块单个附件的最大大小</text>
  <text key="CreateUpdatePostStatus.OverTodayAlowAttachmentCount">超过今天允许上传的附件个数</text>
  <text key="CreateUpdatePostStatus.OverTodayAlowAttachmentFileSize">超过今天允许上传附件的总大小</text>
  <text key="CreateUpdatePostStatus.OverMaxTopicAttachmentCount">超过当前版块主题允许的最大附件个数</text>
  <text key="CreateUpdatePostStatus.OverMaxPostAttachmentCount">超过当前版块回复允许的最大附件个数</text>
  <text key="CreateUpdatePostStatus.InvalidAttachment">附件数据存在异常</text>
  <text key="FinalQuestionStatus.UnknownError">结束提问帖时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="FinalQuestionStatus.Success">结束提问帖成功</text>
  <text key="FinalQuestionStatus.NotQuestion">发生意外错误,该帖不是提问帖</text>
  <text key="FinalQuestionStatus.Finaled">该提问已经结束</text>
  <text key="FinalQuestionStatus.InvalidRewardCount">接受奖励的回复个数超过设置</text>
  <text key="FinalQuestionStatus.InvalidTotalRewards">奖励的总分与设置的奖励分不相等</text>
  <text key="FinalQuestionStatus.NoPermission">您没有权限结束提问帖</text>
  <text key="FinalQuestionStatus.InvalidReward">对最佳答案的奖励不能低于对其它回复的奖励</text>
  <text key="ActionStatus.UnknownError">进行此操作时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="ActionStatus.Success">操作成功</text>
  <text key="ActionStatus.NoPermissionRestoreOwnThread">您没有权限还原自己的主题</text>
  <text key="ActionStatus.NoPermissionRestoreAnyThread">您没有权限还原别人的主题</text>
  <text key="ActionStatus.NoPermissionMoveThread">您没有权限移动主题</text>
  <text key="ActionStatus.NoPermissionJoinThread">您没有权限合并主题</text>
  <text key="ActionStatus.NoPermissionSplitThread">您没有权限分割主题</text>
  <text key="ActionStatus.NoPermissionSetThreadSubjectStyle">您没有权限设置主题的高亮显示</text>
  <text key="ActionStatus.NoPermissionLockOwnThread">您没有权限锁定自己的主题</text>
  <text key="ActionStatus.NoPermissionLockAnyThread">您没有权限锁定别人的主题</text>
  <text key="ActionStatus.NoPermissionUnLockOwnThread">您没有权限解除自己主题的锁定</text>
  <text key="ActionStatus.NoPermissionUnLockAnyThread">您没有权限解除别人主题的锁定</text>
  <text key="ActionStatus.NoPermissionSetThreadsUp">您没有权限提升主题</text>
  <text key="ActionStatus.NoPermissionSetThreadsValued">您没有权限设置主题为精华</text>
  <text key="ActionStatus.NoPermissionSetThreadsUnValued">您没有权限取消主题精华</text>
  <text key="ActionStatus.NoPermissionStickOwnThreads">您没有权限置顶自己的主题</text>
  <text key="ActionStatus.NoPermissionGlobalStickOwnThreads">您没有权限总置顶自己的主题</text>
  <text key="ActionStatus.NoPermissionStickAnyThreads">您没有权限置顶别人的主题</text>
  <text key="ActionStatus.NoPermissionGlobalStickAnyThreads">您没有权限总置顶别人的主题</text>
  <text key="ActionStatus.NoPermissionUnstickOwnThreads">您没有权限取消自己主题的置顶</text>
  <text key="ActionStatus.NoPermissionUnGlobalStickOwnThreads">您没有权限取消自己主题的总置顶</text>
  <text key="ActionStatus.NoPermissionUnGlobalStickAnyThreads">您没有权限取消别人主题的总置顶</text>
  <text key="ActionStatus.NoPermissionUnstickAnyThreads">您没有权限取消别人主题的置顶</text>
  <text key="ActionStatus.NoPermissionRecycleOwnThread">您没有权限回收自己的主题</text>
  <text key="ActionStatus.NoPermissionRecycleAnyThread">您没有权限回收别人的主题</text>
  <text key="ActionStatus.CanNotSplitPoll">投票帖不能被分割</text>
  <!-- 待添加具体的回复数字-->
  <text key="ActionStatus.InvalidPostCount">分割出的主题的回复数不在限定之内</text>
  <text key="ActionStatus.InvalidSubject">标题不能为空</text>
  <text key="ActionStatus.InvalidSubjectLength">标题长度不能超过256</text>
  <text key="ActionStatus.NoPermissionJudgementThread">您没有权限鉴定主题</text>
  <text key="GetThreadStatus.UnknownError">浏览帖子时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="GetThreadStatus.Success">获取帖子成功</text>
  <text key="GetThreadStatus.NoPermissionViewThread">您没有权限浏览帖子</text>
  <text key="GetThreadStatus.NoPermissionViewValuedThread">您没有权限浏览此帖</text>
  <text key="GetThreadStatus.NoPermissionViewDeletedThread">您没有权限删除主题</text>
  <text key="GetThreadStatus.NotExists">该帖子不存在,或已经被移除</text>
  <text key="GetPollStatus.UnknownError">获取投票帖时,发生未知错误,我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="GetPollStatus.Success">获取投票帖成功</text>
  <text key="GetPollStatus.NotExist">该投票帖不存在</text>
  <text key="ApprovePostStatus.UnknownError">审核帖子时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="ApprovePostStatus.Success">审核帖子成功</text>
  <text key="ApprovePostStatus.NoPermission">您没有权限审核帖子</text>
  <text key="ApprovePostStatus.NotExist">要审核的帖子不存在</text>
  <text key="CreateUpdatePostIconStatus.UnknownError">设置图标时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdatePostIconStatus.Success">设置图标成功</text>
  <text key="CreateUpdatePostIconStatus.InvalidIconUrl">图标地址不能为空</text>
  <text key="CreateUpdatePostIconStatus.InvalidIconUrlLength">图标地址的长度不能超过256</text>
  <text key="CreateUpdatePostIconStatus.DuplicateIconUrl">该图标地址已经被使用</text>
  <text key="QuestionStatus.UnknownError">对最佳答案投票时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="QuestionStatus.Success">对最佳答案投票成功</text>
  <text key="QuestionStatus.NotExists">不存在要进行投票的最佳答案,或已经被移除</text>
  <text key="QuestionStatus.NotIsClosed">对最佳答案的投票已经被关闭</text>
  <text key="QuestionStatus.HadVoted">您已经参与过投票了</text>
  <text key="QuestionStatus.NotQuestion">不存在该最佳答案的问题,或已经被移除</text>
  <text key="QuestionStatus.IsShielded">您已经被屏蔽,不能进行投票</text>
  <text key="QuestionStatus.NoPermission">您没有权限进行投票</text>
  <text key="ShieldPostStatus.UnknownError">屏蔽帖子时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="ShieldPostStatus.Success">屏蔽帖子成功</text>
  <text key="ShieldPostStatus.NoPermissionShieldPost">您没有权限屏蔽帖子</text>
  <text key="ShieldPostStatus.NoPermissionRescindShieldPost">您没有权限解除对帖子的屏蔽</text>
  <text key="RescindShieldUserStatus.UnknownError">解除用户屏蔽时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="RescindShieldUserStatus.Success">解除用户屏蔽成功</text>
  <text key="RescindShieldUserStatus.NoPermission">您没有权限解除对用户的屏蔽</text>
  <text key="ShieldUserStatus.UnknownError">屏蔽用户时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="ShieldUserStatus.Success">屏蔽用户成功</text>
  <text key="ShieldUserStatus.NoPermission">您没有权限屏蔽用户</text>
  <text key="CreateUpdateThreadCatalogStatus.UnknownError">提交主题分类时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateThreadCatalogStatus.Success">提交主题分类成功</text>
  <text key="CreateUpdateThreadCatalogStatus.InvalidThreadCatalogName">分类名称不能为空</text>
  <text key="CreateUpdateThreadCatalogStatus.InvalidThreadCatalogNameLength">分类名称的长度不能超过64</text>
  <text key="CreateUpdateThreadCatalogStatus.DuplicateCatalogName">该分类名称已经被使用</text>
  <text key="CreateUpdateThreadCatalogStatus.InvalidLogoUrl">分类图标地址不能为空</text>
  <text key="CreateUpdateThreadCatalogStatus.InvalidLogoUrlLength">分类图标地址的长度不能超过512</text>
  <text key="CreateUpdateThreadRankStatus.UnknownError">提交评级时发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateThreadRankStatus.Success">评级提交成功</text>
  <text key="CreateUpdateThreadRankStatus.InvalidThreadRank">提交的帖子等级无效</text>
  <text key="CreateUpdateThreadRankStatus.NoPermissionRankThread">您不能给帖子评级,可能原因:您未登陆或没有权限</text>
  <text key="CreateUpdateThreadRankStatus.CanNotRankOwnThread">不能对自己的帖子进行评级</text>
  <text key="ThreadStatus.Normal">正常主题</text>
  <text key="ThreadStatus.Sticky">置顶主题</text>
  <text key="ThreadStatus.GlobalSticky">总置顶主题</text>
  <text key="ThreadStatus.Recycled">在回收站</text>
  <text key="ThreadStatus.UnApproved">未审核</text>
  <text key="CreateUpdateAdvertisementStatus.UnknownError">提交广告时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateAdvertisementStatus.Success">提交广告成功</text>
  <text key="CreateUpdateAdvertisementStatus.InvalidAdvertisementName">广告名称不能为空</text>
  <text key="CreateUpdateAdvertisementStatus.InvalidAdvertisementNameLength">广告名称的长度不能超过100</text>
  <text key="CreateUpdateAdvertisementStatus.InvalidAdvertisementCode">广告代码不能为空</text>
  <text key="CreateUpdateAdvertisementCatalogStatus.UnknownError">提交广告分类时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateAdvertisementCatalogStatus.Success">提交广告分类成功</text>
  <text key="CreateUpdateAdvertisementCatalogStatus.InvalidCatalogKey">广告分类键值不能为空</text>
  <text key="CreateUpdateAdvertisementCatalogStatus.InvalidCatalogKeyLength">广告分类键值的长度不能超过64</text>
  <text key="CreateUpdateAdvertisementCatalogStatus.DuplicateCatalogKey">该广告分类键值已经被使用</text>
  <text key="CreateUpdateAdvertisementCatalogStatus.InvalidCatalogName">广告分类名称不能为空</text>
  <text key="CreateUpdateAdvertisementCatalogStatus.InvalidCatalogNameLength">广告分类名称的长度不能超过128</text>
  <text key="DatabaseStatus.NoAction">无数据库操作</text>
  <text key="DatabaseStatus.Backuping">数据库正在备份...</text>
  <text key="DatabaseStatus.Backuped">数据库备份完成</text>
  <text key="DatabaseStatus.Restoring">数据库正在还原...</text>
  <text key="DatabaseStatus.Restored">数据库还原完成</text>
  <text key="DatabaseStatus.NoPermission">没有操作数据库的权限</text>
  <text key="DatabaseStatus.ErrorAccount">连接数据库时,用户名或者密码错误</text>
  <text key="DatabaseStatus.UnknowError">数据库操作时,未知错误</text>
  <text key="DatabaseStatus.PrepareBackup">准备备份</text>
  <text key="DatabaseStatus.PrepareRestore">准备还原</text>
  <text key="DeleteStatus.UnknownError">删除数据时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="DeleteStatus.Success">删除成功</text>
  <text key="DeleteStatus.NotExists">不存在该数据</text>
  <text key="DeleteStatus.NotNull">指定要删除的对象不能为空</text>
  <text key="DeleteStatus.Deleting">正在删除数据</text>
  <text key="DeleteStatus.NoPermission">没有权限删除数据</text>
  <text key="EnableStatus.NotSet">未设置,使用默认</text>
  <text key="EnableStatus.Disabled">禁止</text>
  <text key="EnableStatus.Enabled">启用</text>
  <text key="CreateUpdateContactGroupStatus.UnknownError">创建好友分组时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateContactGroupStatus.Success">提交好友分组"{0}"成功</text>
  <text key="CreateUpdateContactGroupStatus.InvalidGroupName">好友分组名称不能为空</text>
  <text key="CreateUpdateContactGroupStatus.InvalidGroupNameLength">好友分组名称的长度不能超过64</text>
  <text key="CreateUpdateContactGroupStatus.DuplicateGroupName">该好友分组名称已经被使用</text>
  <text key="CreateUpdateContactGroupStatus.NotExistGroup">不存在该好友分组</text>
  <text key="CreateUpdateContactStatus.UnknownError">添加好友时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateContactStatus.Success">添加好友{0}成功</text>
  <text key="CreateUpdateContactStatus.InvalidContactNickName">好友昵称不能为空</text>
  <text key="CreateUpdateContactStatus.DuplicateContactUserID">该用户已经在您的好友列表中了</text>
  <text key="CreateUpdateContactStatus.NotExists">要添加的好友不存在</text>
  <text key="CreateUpdateContactStatus.NoPermissionCreateContact">您没有权限添加好友</text>
  <text key="CreateUpdateContactStatus.ExceedContactCount">好友个数超过最大限制</text>
  <text key="CreateUpdateContactStatus.NotAddYourself">不能添加自己为好友</text>
  <text key="CreateUpdateContactStatus.NotExistGroup">不存在指定的好友分组</text>
  <text key="UpdateCurrencyStatus.UnknownError">更新用户货币时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="UpdateCurrencyStatus.Success">更新用户货币成功</text>
  <text key="UpdateCurrencyStatus.BalanceMin">不于交易后系统设置的余额最小值</text>
  <text key="UpdateCurrencyStatus.RatioError">获取兑换比率时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="UpdateCurrencyStatus.Over">超过货币最大值</text>
  <text key="UpdateCurrencyStatus.NoExist">进行交易的用户不存在</text>
  <text key="UpdateCurrencyStatus.DuliCurrencyName">相同的货币间不能转换</text>
  <text key="UpdateCurrencyStatus.IsZero">不能为0或者输入有误</text>
  <text key="UpdateCurrencyStatus.IsSelf">不能给自己转账</text>
  <text key="UpdateCurrencyStatus.NotAllowExport">不允许兑出</text>
  <text key="UpdateCurrencyStatus.NotAllowImprot">不允许兑入</text>
  <text key="UpdateCurrencyStatus.CurrencyIsNotEnable">该货币没有被启用</text>
  <text key="UpdateCurrencyStatus.SetSystemMaxMinError">货币最大值与最小值不能相等</text>
  <text key="CreateUpdateDiskDirectoryStatus.UnknownError">提交目录时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateDiskDirectoryStatus.Success">提交目录"{0}"成功</text>
  <text key="CreateUpdateDiskDirectoryStatus.EmptyDirectoryName">目录名不能为空</text>
  <text key="CreateUpdateDiskDirectoryStatus.InvalidDirectoryName">目录名不符合要求:不能为空,不能包含有特殊字符</text>
  <text key="CreateUpdateDiskDirectoryStatus.InvalidDirectoryNameLength">目录名的长度不在限定之内</text>
  <text key="CreateUpdateDiskDirectoryStatus.DuplicateDirectoryName">该目录已经存在</text>
  <text key="CreateUpdateDiskFileStatus.UnknownError">提交文件时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateDiskFileStatus.Success">重命名成功</text>
  <text key="CreateUpdateDiskFileStatus.InvalidFileExtension">该扩展名的文件不允许提交</text>
  <text key="CreateUpdateDiskFileStatus.InvalidFileNameLength">文件名的长度不在限定之内</text>
  <text key="CreateUpdateDiskFileStatus.DuplicateFileName">该文件名已经被使用</text>
  <text key="CreateUpdateDiskFileStatus.InvalidFileName">文件名不符合要求:不能为空,不能包含有特殊字符</text>
  <text key="CreateUpdateDiskFileStatus.SizeOver">你的网络硬盘剩余空间不足</text>
  <text key="CreateUpdateDiskFileStatus.SingleSizeOver">单个文件超出限制大小</text>
  <text key="CreateUpdateDiskFileStatus.Deny">该类型的文件被禁止提交</text>
  <text key="CreateUpdateDiskFileStatus.CreateDiskFileAndImportEmoticon">添加文件并导入表情</text>
  <text key="CreateUpdateDiskFileStatus.DirectoryNotExist">指定目录不存在,或可能已经被移除</text>
  <text key="CreateUpdateDiskFileStatus.FileNotExist">该文件不存在,或可能已经被移除</text>
  <text key="MoveStatus.DuplicateFileName">目标目录已经有相同名称的文件</text>
  <text key="MoveStatus.Success">移动成功</text>
  <text key="MoveStatus.DirectoryIDNotExist">目标目录不存在,或可能已经被移除</text>
  <text key="MoveStatus.UnKnownError">移动文件时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="MoveStatus.NoMoveSelecteDirectory">不能移动到当前选中的文件夹</text>
  <text key="MoveStatus.NoMoveChildDirectory">无法移动到自己的子目录</text>
  <text key="ExtractStatus.NotExists">要解压的文件不存在</text>
  <text key="ExtractStatus.Success">解压文件成功</text>
  <text key="ExtractStatus.DuplicateFileName">已经存在一个重名文件,无法继续解压</text>
  <text key="ExtractStatus.UnknownError">解压文件时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="ExtractStatus.SingleSizeOver">解压的单个文件超出大小限制</text>
  <text key="ExtractStatus.SizeOver">超过网络硬盘的容量</text>
  <text key="CreateUpdateEmailStatus.UnknownError">发送邮件时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateEmailStatus.Success">发送邮件成功</text>
  <text key="CreateUpdateEmailStatus.Disabled">邮件发送失败,论坛电子邮件服务器没有启用</text>
  <text key="CreateUpdateDefaultEmoticonStatus.UnKnownError">提交默认表情时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateDefaultEmoticonStatus.Success">提交默认表情成功</text>
  <text key="CreateUpdateDefaultEmoticonStatus.DuplicateShortcutOrFileName">重复的路径或文件名</text>
  <text key="CreateUpdateDefaultEmoticonStatus.InvalidFile">该文件类型不是有效的表情文件</text>
  <text key="CreateUpdateEmoticonGroupStatus.UnknownError">提交表情分组时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateEmoticonGroupStatus.Success">提交表情分组成功</text>
  <text key="CreateUpdateEmoticonGroupStatus.InvalidGroupName">表情分组名称不符合要求:不能为空或不能包含特殊字符</text>
  <text key="CreateUpdateEmoticonGroupStatus.InvalidGroupNameLength">表情分组名称的长度不在限定之内</text>
  <text key="CreateUpdateEmoticonGroupStatus.DuplicateGroupName">该表情分组名称已经被使用</text>
  <text key="CreateUpdateEmoticonGroupStatus.NotExistGroup">不存在指定的表情分组</text>
  <text key="CreateUpdateEmoticonStatus.UnknownError">提交表情时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateEmoticonStatus.Success">提交表情成功</text>
  <text key="CreateUpdateEmoticonStatus.InvalidShortcut">快捷方式名称不符合要求:不能包含特殊字符</text>
  <text key="CreateUpdateEmoticonStatus.InvalidShortcutLength">快捷方式名称的长度不在限定之内</text>
  <text key="CreateUpdateEmoticonStatus.DuplicateShortcut">该表情快捷方式已经存在</text>
  <text key="CreateUpdateEmoticonStatus.DuplicateFileName">该表情文件名已经被使用</text>
  <text key="CreateUpdateEmoticonStatus.UploadFileNumMore">单次上传文件数量超过上限</text>
  <text key="CreateUpdateEmoticonStatus.FileLengthMore">单个上传文件大小超过限制</text>
  <text key="CreateUpdateEmoticonStatus.EipCfcSizeMore">Eip或者Cfc文件超过规定大小</text>
  <text key="CreateUpdateEmoticonStatus.NotAllowImportEIPFile">不允许导入EIP文件</text>
  <text key="CreateUpdateEmoticonStatus.NotAllowImportCfcFile">不允许导入Cfc文件</text>
  <text key="CreateUpdateEmoticonStatus.FileCountMore">生成文件的数量超过限制</text>
  <text key="CreateUpdateEmoticonStatus.FileSizeMore">生成文件的大小超过限制</text>
  <text key="CreateUpdateEmoticonStatus.FileExtendedNameNotAllow">该文件类型不是有效的表情文件</text>
  <text key="CreateUpdateEmoticonStatus.AnalyseUnsuccessful">未能成功分析表情包</text>
  <text key="CreateUpdateEmoticonStatus.NotExistFileName">不存在指定的表情文件</text>
  <text key="FaqStatus.Unknown">未知错误</text>
  <text key="FaqStatus.Success">成功</text>
  <text key="FaqStatus.FaqCatalogIDNotExist">类别不存在</text>
  <text key="FaqStatus.FaqIDNotExist">Faq不存在</text>
  <text key="FaqStatus.FaqCatalogNameEmpty">类别名称不能为空</text>
  <text key="FaqStatus.FaqTitleEmpty">Faq标题不能为空</text>
  <text key="FaqStatus.FaqContentEmpty">FAQ内容不能为空</text>
  <text key="CreateUpdateFavoriteDirectoryStatus.UnknownError">提交收藏夹目录时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateFavoriteDirectoryStatus.Success">提交收藏夹目录成功</text>
  <text key="CreateUpdateFavoriteDirectoryStatus.InvalidDirectoryName">收藏夹目录名不符合要求:不能为空或不能包含特殊字符</text>
  <text key="CreateUpdateFavoriteDirectoryStatus.InvalidDirectoryNameLength">收藏夹目录名的长度不能超过12</text>
  <text key="CreateUpdateFavoriteDirectoryStatus.DuplicateDirectoryName">该收藏夹目录已经存在</text>
  <text key="CreateUpdateFavoriteLinkStatus.UnknownError">提交收藏夹链接时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateFavoriteLinkStatus.Success">提交收藏夹链接成功</text>
  <text key="CreateUpdateFavoriteLinkStatus.InvalidSubject">收藏夹链接标题不符合要求:不能为空或不能包含特殊字符</text>
  <text key="CreateUpdateFavoriteLinkStatus.InvalidSubjectLength">收藏夹链接标题的长度不能大于256</text>
  <text key="CreateUpdateFavoriteLinkStatus.InvalidUrl">收藏夹链接地址的格式不正确</text>
  <text key="CreateUpdateFavoriteLinkStatus.InvalidUrlLength">收藏夹链接地址的长度不能大于512</text>
  <text key="CreateUpdateFavoriteLinkStatus.DuplicateUrl">该收藏夹链接地址已经存在</text>
  <text key="CreateUpdateFavoriteLinkStatus.GroupNotExist">目标收藏夹链接分组不存在</text>
  <text key="CreateUpdateFavoriteLinkStatus.NoLogin">您未登陆,无法进行收藏夹操作</text>
  <text key="CreateUpdateFavoriteLinkStatus.NoPermission">您没有权限进行收藏夹操作</text>
  <text key="InviteSerialStatus.NoActive">邀请码未被使用</text>
  <text key="InviteSerialStatus.NoRegister">邀请码未被注册</text>
  <text key="InviteSerialStatus.Active">邀请码已被使用</text>
  <text key="InviteSerialStatus.Expires">邀请码已过期</text>
  <text key="InviteSerialStatus.All">全部</text>
  <text key="CreateUpdateMedalStatus.UnknownError">提交勋章时,提交IP发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateMedalStatus.Success">提交勋章成功</text>
  <text key="CreateUpdateMedalStatus.InvalidMedalName">勋章名称不能为空</text>
  <text key="CreateUpdateMedalStatus.InvalidMedalNameLength">勋章名称的长度不能超过64</text>
  <text key="CreateUpdateMedalStatus.DuplicateMedalName">该勋章名称已经被使用</text>
  <text key="CreateUpdateMedalStatus.InvalidLogoUrl">勋章图标地址的格式不正确</text>
  <text key="CreateUpdateMedalStatus.InvalidLogoUrlLength">勋章图标地址的长度不能超过512</text>
  <text key="CreateUpdateMedalStatus.DuplicateLogoUrl">该勋章图标地址已经存在</text>
  <text key="CreateUpdateUserMedalStatus.UnknownError">给用户颁发勋章时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateUserMedalStatus.Success">给用户颁发勋章成功</text>
  <text key="CreateUpdateUserMedalStatus.DuplicateMedalID">该用户已经拥有此勋章</text>
  <text key="CreateMessageStatus.UnknownError">发送消息时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateMessageStatus.Success">消息已经成功发送给"{0}"</text>
  <text key="CreateMessageStatus.InvalidSubject">消息标题不符合要求:不能为空,不能包含有特殊字符</text>
  <text key="CreateMessageStatus.InvalidSubjectLength">消息标题的长度不在限定之内</text>
  <text key="CreateMessageStatus.InvalidContent">消息内容不能为空</text>
  <text key="CreateMessageStatus.InvalidContentLength">消息内容的长度不在限定之内</text>
  <text key="CreateMessageStatus.UserNotExists">不存在该用户</text>
  <text key="CreateMessageStatus.DontSendToYourself">不能给自己发消息</text>
  <text key="CreateMessageStatus.NoPermissionSendMessage">您没有权限发送消息</text>
  <text key="CreateMessageStatus.ExceedHisMessageCount">对方短消息数量已经超过上限</text>
  <text key="CreateMessageStatus.UserIDAndNickNameNotMatch">用户的ID和昵称不匹配</text>
  <text key="CreateMessageStatus.StartTimeMore">开始时间超过结束时间</text>
  <text key="CreateMessageStatus.MessageFull">信箱满了</text>
  <text key="CreateMessageStatus.MessageFullNotSaveOutbox">您的信箱满了,不能保存到发件箱</text>
  <text key="CreateMessageStatus.MessageFullNotSaveDraft">您的信箱满了,不能保存到草稿箱</text>
  <text key="PagePermissionStatus.Allow">允许访问</text>
  <text key="PagePermissionStatus.Deny">拒绝访问</text>
  <text key="CreateUpdatePhraseStatus.UnknownError">提交常用语句时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdatePhraseStatus.Success">提交常用语句成功</text>
  <text key="CreateUpdatePhraseStatus.InvalidContent">常用语句的内容不能为空</text>
  <text key="CreateUpdatePhraseStatus.InvalidContentLength">常用语句内容的长度不在限定之内</text>
  <text key="UpdateStatus.Error">更新出错</text>
  <text key="UpdateStatus.NotUpdate">没有更新</text>
  <text key="UpdateStatus.Waiting">等待更新</text>
  <text key="UpdateStatus.Downloading">正在下载更新</text>
  <text key="UpdateStatus.Downloaded">下载更新包完成</text>
  <text key="UpdateStatus.Unziping">正在解压更新包</text>
  <text key="UpdateStatus.Updated">更新完成</text>
  <text key="UpdateStatus.Caneling">正在取消更新</text>
  <text key="CreateUpdateUrlStatus.UnknownError">提交友好URL时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateUrlStatus.Success">提交友好URL成功</text>
  <text key="CreateUpdateUrlStatus.InvalidUrl">原始URL不能为空</text>
  <text key="CreateUpdateUrlStatus.InvalidFriendly">友好URL不能为空</text>
  <text key="CreateUpdateUrlStatus.InvalidFriendlyUrl">友好URL的长度不能为空且不能超过255</text>
  <text key="CreateUpdateUrlStatus.ExistsUrlOrFriendlyUrl">该URL友好设置已经存在</text>
  <text key="ChangeNickNameStatus.UnknownError">更改昵称时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="ChangeNickNameStatus.Success">更改昵称成功</text>
  <text key="ChangeNickNameStatus.InvalidPassword">密码不能为空</text>
  <text key="ChangeNickNameStatus.UserNotExists">不存在该用户</text>
  <text key="ChangeNickNameStatus.DuplicateNickName">该昵称已经被使用</text>
  <text key="ChangeNickNameStatus.InvalidNickNameLength">昵称长度不在限定之内</text>
  <text key="ChangeNickNameStatus.NickNameRejected">不允许使用的昵称</text>
  <text key="ChangeNickNameStatus.OnlyChineseNickName">昵称只允许中文和字符</text>
  <text key="ChangeNickNameStatus.InvalidNickName">昵称不符合要求:不能为空或不能包含特殊字符</text>
  <text key="ChangeNickNameStatus.NoPermissionChangeNickName">您没有权限修改昵称</text>
  <text key="ChangeNickNameStatus.ExceedMaxCount">超过允许修改昵称的次数</text>
  <text key="ChangeNickNameStatus.ExceedMaxCountInOneDay">超过当天允许修改昵称的次数</text>
  <text key="ChangePasswordStatus.UnknownError">修改密码时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="ChangePasswordStatus.Success">修改密码成功,请使用新密码重新登陆</text>
  <text key="ChangePasswordStatus.InvalidPassword">密码不能为空</text>
  <text key="ChangePasswordStatus.UserNotExists">不存在该用户</text>
  <text key="ChangePasswordStatus.ErrorOldPassword">原始密码错误</text>
  <text key="ChangePasswordStatus.EmailNotExist">该用户未提供Email</text>
  <text key="ChangePasswordStatus.InvalidEmail">电子邮件地址错误</text>
  <text key="ChangePasswordStatus.SerialNotExist">序列号不存在,可能由于过期被系统删除或者用户非法修改序列号</text>
  <text key="ChangePasswordStatus.ExpiresSerial">序列号过期</text>
  <text key="ChangePasswordStatus.NoPermissionChangePassword">您没有权限修改密码</text>
  <text key="ChangePasswordStatus.NoPermissionChangeOtherPassword">您没有权限修改别人的密码</text>
  <text key="ChangePasswordStatus.AnswerIsNotCheck">您的问题答案不正确</text>
  <text key="CreateUpdateExtendedUserProfileFieldStatus.UnknownError">提交扩展的用户属性时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateExtendedUserProfileFieldStatus.Success">提交扩展的用户属性成功</text>
  <text key="CreateUpdateExtendedUserProfileFieldStatus.InvalidFieldName">扩展的用户属性字段名称不能为空</text>
  <text key="CreateUpdateExtendedUserProfileFieldStatus.InvalidFieldNameLength">扩展的用户属性字段名称的长度不能超过64</text>
  <text key="CreateUpdateExtendedUserProfileFieldStatus.DuplicateFieldName">该扩展用户属性字段名称已经被使用</text>
  <text key="CreateUpdateExtendedUserProfileFieldStatus.InvalidFieldConstraintLength">长度不能超过64</text>
  <text key="CreateUpdateExtendedUserProfileFieldStatus.InvalidInputControlAttributeLength">长度不能超过128</text>
  <text key="CreateUpdateExtendedUserProfileFieldStatus.InvalidDisplayName">显示名称不能为空</text>
  <text key="CreateUpdateExtendedUserProfileFieldStatus.InvalidDisplayNameLength">显示名称的长度不能超过64</text>
  <text key="CreateUpdateRoleStatus.UnknownError">提交用户组时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateRoleStatus.Success">提交用户组成功</text>
  <text key="CreateUpdateRoleStatus.InvalidRoleID">不符合要求的用户组ID</text>
  <text key="CreateUpdateRoleStatus.InvalidRoleNameLength">不符合要求的用户组名长度</text>
  <text key="CreateUpdateRoleStatus.InvalidRoleName">不符合要求的用户组名</text>
  <text key="CreateUpdateRoleStatus.DuplicateRoleName">该用户组名称已经存在</text>
  <text key="CreateUpdateRoleStatus.DuplicateInternalName">该用户组内部名称已经存在</text>
  <text key="CreateUpdateUserStatus.NoPermissionUpdateUserProfile">您没有权限修改用户资料</text>
  <text key="CreateUpdateUserStatus.UnknownError">提交用户信息时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateUpdateUserStatus.Success">提交用户资料成功</text>
  <text key="CreateUpdateUserStatus.InvalidUserID">不存在该用户ID</text>
  <text key="CreateUpdateUserStatus.InvalidUserNameLength">用户名长度不在限定之内</text>
  <text key="CreateUpdateUserStatus.InvalidUserName">用户名不合法:不能为空或不能包含特殊字符</text>
  <text key="CreateUpdateUserStatus.InvalidPasswordLength">密码长度不能为空且不能超过32</text>
  <text key="CreateUpdateUserStatus.InvalidPassword">密码不能为空</text>
  <text key="CreateUpdateUserStatus.InvalidAnswerLength">密码提示问题的答案长度不能超过128</text>
  <text key="CreateUpdateUserStatus.InvalidEmail">您填写的电子邮件格式不正确</text>
  <text key="CreateUpdateUserStatus.InvalidPublicEmail">您填写的公开电子邮件格式不符合要求</text>
  <text key="CreateUpdateUserStatus.InvalidAvatar">错误的头像地址</text>
  <text key="CreateUpdateUserStatus.InvalidAvatarType">头像文件格式错误,只能使用图片作为头像</text>
  <text key="CreateUpdateUserStatus.InvalidAvatarSize">头像图片大小不在限定之内</text>
  <text key="CreateUpdateUserStatus.InvalidAvatarFileName">错误的头像文件，可能是因为操作时间太久临时文件被系统清理掉所致</text>
  <text key="CreateUpdateUserStatus.InvalidSerial">无效的邀请码</text>
  <text key="CreateUpdateUserStatus.InvalidSignatureLength">签名长度不在限定之内</text>
  <text key="CreateUpdateUserStatus.MustAnswerQuestion">密码提示问题是必填的</text>
  <text key="CreateUpdateUserStatus.UserRejected">被禁止注册的用户名</text>
  <text key="CreateUpdateUserStatus.AnswerIsNotCheck">问题答案不正确</text>
  <text key="CreateUpdateUserStatus.EmailDomainRejected">你的E-mail提供商被禁止在本论坛注册,请换用其他E-mail提供商</text>
  <text key="CreateUpdateUserStatus.UserNameRejected">不允许使用的用户名</text>
  <text key="CreateUpdateUserStatus.NickNameRejected">不允许使用的昵称</text>
  <text key="CreateUpdateUserStatus.OnlyEnglishUserName">用户名只允许使用英文、数字和下划线</text>
  <text key="CreateUpdateUserStatus.OnlyChineseNickName">昵称只允许使用中文和字符</text>
  <text key="CreateUpdateUserStatus.MustAnswer">问题答案不能为空</text>
  <text key="CreateUpdateUserStatus.DuplicateUserName">该用户名已经存在</text>
  <text key="CreateUpdateUserStatus.DuplicateEmail">该电子邮件地址已经存在</text>
  <text key="CreateUpdateUserStatus.DuplicateNickName">该昵称已经存在</text>
  <text key="CreateUpdateUserStatus.InvalidNickNameLength">昵称长度不在限定之内</text>
  <text key="CreateUpdateUserStatus.DuplicateUserID">此用户ID已经存在</text>
  <text key="CreateUpdateUserStatus.InvalidNickName">昵称不符合要求:不能为空或不能包含特殊字符</text>
  <text key="CreateUpdateUserStatus.NoPermissionSelectAvatar">您没有权限选择头像</text>
  <text key="CreateUpdateUserStatus.NoPermissionRemoteAvatar">您没有权限删除头像</text>
  <text key="CreateUpdateUserStatus.NoPermissionUploadAvatar">您没有权限上传头像</text>
  <text key="UpdateUserOptionStatus.UnknownError">更新用户选项时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="UpdateUserOptionStatus.Success">更新用户选项成功</text>
  <text key="UpdateUserOptionStatus.NoPermissionUpdateUserOption">您没有权限更新用户选项</text>
  <text key="PasswordRecoveryStatus.UnknownError">找回密码时,发生未知错误。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="PasswordRecoveryStatus.Success">密码已经发送到您的邮箱,请注意查收</text>
  <text key="PasswordRecoveryStatus.InvalidQuestion">提示问题不正确,请选择当初您设置的安全问题</text>
  <text key="PasswordRecoveryStatus.InvalidAnswerLength">提示问题的回答长度不在限定之内</text>
  <text key="PasswordRecoveryStatus.InvalidAnswer">不符合要求的回答</text>
  <text key="PasswordRecoveryStatus.UserNotExist">不存在该用户,或可能您的输入有误</text>
  <text key="PasswordRecoveryStatus.EmailNotExist">由于该用户没有提供EMail,无法发送密码</text>
  <text key="PasswordRecoveryStatus.InvalidEmail">电子邮件地址格式不正确</text>
  <text key="PasswordRecoveryStatus.NoPermissionRecoveryPassword">您没有权限找回密码</text>
  <text key="PasswordRecoveryStatus.ExceedMaxFailedCount">您的操作错误次数过多</text>
  <text key="PasswordRecoveryStatus.EmailServerIsDisabled">邮件系统没有启用</text>
  <text key="SendEmailStatus.Error">发送邮件出错。我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="SendEmailStatus.NoAction">无操作</text>
  <text key="SendEmailStatus.Sending">邮件正在发送...</text>
  <text key="SendEmailStatus.Sended">邮件发送完成</text>
  <text key="SendEmailStatus.GetEmailList">取得邮件列表</text>
  <text key="SendEmailStatus.Stop">邮件发送停止</text>
  <text key="SendEmailStatus.Stoping">正在停止发送邮件...</text>
  <text key="SignInStatus.UnknownError">登陆时发生未知错误,我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="SignInStatus.Success">登录成功,现在将前往登录前访问的页面</text>
  <text key="SignInStatus.InvalidUserID">用户ID无效</text>
  <text key="SignInStatus.InvalidPasswordLength">您输入的密码长度不符合要求</text>
  <text key="SignInStatus.NotExist">您输入的用户名并不存在,请注册</text>
  <text key="SignInStatus.InvalidPassword">您输入的密码不正确</text>
  <text key="SignInStatus.IPRejected">您的IP被禁止登陆</text>
  <text key="SignInStatus.IPRejectedInTime">该IP禁止在X小时内连续登陆N次以上</text>
  <text key="SignInStatus.NoPermissionSignIn">没有登陆权限</text>
  <text key="SignInStatus.ExceedMaxSignInFailedCount">超过最大登陆失败次数</text>
  <text key="SignInStatus.IsActive">该账号需要激活</text>
  <text key="SignInStatus.AnswerIsNotCheck">您填写的问题答案不正确</text>
  <text key="SignInStatus.SuccessAndGoIndexPage">您好,$nickName,您已经登陆成功,现在将转入首页</text>
  <text key="UpdateUserNameStatus.UnKnownError">更新用户名时,发生未知错误,我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="UpdateUserNameStatus.Success">更新用户名成功</text>
  <text key="UpdateUserNameStatus.UserNotExists">您输入的用户名不存在</text>
  <text key="UpdateUserNameStatus.InvalidUserNameLength">用户名长度不在限定之内</text>
  <text key="UpdateUserNameStatus.InvalidUserName">注册的用户名包含有不允许使用的字符</text>
  <text key="UpdateUserNameStatus.DuplicateUserName">该用户名已经被使用</text>
  <text key="UpdateUserNameStatus.UserNameRejected">该用户名不允许使用</text>
  <text key="ManageIPStatus.UnknownError">管理禁止IP时,发生未知错误,我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="ManageIPStatus.Success">更新禁止IP成功</text>
  <text key="ManageIPStatus.NoPermission">您没有权限管理禁止IP</text>
  <text key="ManageIPStatus.IPExist">此IP已经存在于禁止列表中</text>
  <text key="ManageIPStatus.IPNotExist">此IP不存在于禁止列表中</text>
  <text key="CreateOrUpdateValidateCode.UnKnownError">提交验证码时,发生未知错误,我们将尽快解决此问题,对您造成不便请谅解。</text>
  <text key="CreateOrUpdateValidateCode.Success">提交验证码成功</text>
  <text key="CreateOrUpdateValidateCode.NotPassCompile">该程序集代码未通过编译</text>
  <text key="CreateUpdatePostStatus.InvalidPollItemCount">投票选项数不在设定之内</text>
  <text key="CreateUpdatePostStatus.InvalidReward">奖励金额必须超过0</text>
  <text key="CreateUpdatePostStatus.InvalidRewardCount">奖励帖数必须超过0</text>
  <text key="CreateUpdatePostStatus.InvalidRewardAndRewardCount">奖励金额数值必须超过或等于奖励帖数</text>
  <text key="VoteStatus.MoreItems">您投的选项数超过允许投票项数</text>
  <text key="VoteStatus.ItemIsNull">您还没有选择投票项</text>
  <text key="SuccessAndReturnShowForm">操作成功,现在将转入主题列表页</text>
</Language>