<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation defaultLanguage="c#" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <remove extension=".aspx" />
        <remove extension=".html" />
        <add extension=".aspx" type="System.Web.Compilation.PageBuildProvider" />
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <authentication mode="None" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="utf-8" />
    <httpHandlers>
      <remove path="*.aspx" verb="*" />
      <remove path="*.html" verb="*" />
      <add path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" validate="true" />
      <add path="*.html" verb="*" type="System.Web.UI.PageHandlerFactory" validate="true" />
    </httpHandlers>
    <pages enableSessionState="true" enableViewState="true" validateRequest="false" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="PageHandlerFactory-Integrated" />
      <remove name="HTMLPageHandlerFactory-Integrated" />
      <add name="PageHandlerFactory-Integrated" path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="HTMLPageHandlerFactory-Integrated" path="*.html" verb="*" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <!--此处开启了IIS7的页面压缩-->
  </system.webServer>
  <appSettings>
    <add key="bbsMax.DynamicCompress" value="OFF" />
    <add key="bbsMax.StaticCompress" value="OFF" />
  </appSettings>
</configuration>