<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add connectionString="$(connectionString)" name="bbsmax" providerName="MaxLabs.bbsMax.DataAccess.SqlServer.DataProvider, MaxLabs.bbsMax.DataAccess.SqlServer" />
  </connectionStrings>

  <appSettings>
    <add key="bbsMax.InstallPath" value="~/"/>
    <add key="bbsMax.DynamicCompress" value="$(DynamicCompress)" />
    <!-- 是否启用动态内容压缩，如果启用后出错请把value改为OFF -->
    <add key="bbsMax.StaticCompress" value="$(StaticCompress)" />
    <!-- 是否启用静态内容压缩，如果启用后出错请把value改为OFF -->
    <add key="bbsMax.Licence" value="$(Licence)" />
  </appSettings>
  <!--[maxPlugins]-->
  <!--[passportConnectionSetting]-->
</configuration>
